.middle {
    background-color: $bg-dark;
    min-height: 684px;
    padding: 140px 0;

    &__all {
        display: flex;
        justify-content: space-between;

        .all__text {

            .rectangle {
                width: 50px;
                height: 4px;
                background-color: $bg-red;
                margin-bottom: 50px;
            }

            h3 {
                color: $bg-white;
                font-size: $size;
                max-width: 450px;
            }
        }

        .all__title {

            .title__card {
                display: flex;
                align-items: center;
                gap: 25px;
                margin-top: 32px;
                
                h4 {
                    color: $bg-red;
                    font-size: 18px;
                    font-weight: 700;
                }

                p {
                    color: $bg-white;
                    font-size: 15px;
                    font-weight: 600;
                    margin-top: 16px;
                    max-width: 420px;
                }
            }
        }
    }
}


@media(max-width: 1000px) {
    .middle {

        &__all {
            display: flex;
            flex-direction: column;
            align-items: center;

            .all__text {

                h3 {
                    font-size: 40px;
                    max-width: 600px;
                }
            }
        }
    }
}

@media(max-width: 600px) {
    .middle {

        &__all {
            display: flex;
            flex-direction: column;

            .all__text {

                h3 {
                    font-size: 32px;
                    max-width: 300px;
                }
            }

            .all__title {

                .title__card {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
}